allow hal_camera_default camera_data_file:sock_file write;
allow hal_camera_default toolbox_exec:file getattr;
allow hal_camera_default shell_exec:file execute;
allow hal_camera_default toolbox_exec:file execute;
allow hal_camera_default shell_exec:file getattr;
allow hal_camera_default toolbox_exec:file { open read };

allow hal_camera_default shell_exec:file { execute_no_trans open read };
allow hal_camera_default toolbox_exec:file execute_no_trans;
